#!/bin/sh
#
# Example file for configuration options for publishing minutes

export EDITOR="/usr/bin/gedit"
export WAV_EDITOR="/usr/bin/audacity"
export NODE_COMMAND="nodejs"

export SCRAWL_EMAIL_TO_ADDRESS=public-credentials@w3.org
export SCRAWL_EMAIL_FROM_ADDRESS=YOUR_EMAIL_ADDRESS
# for gmail, username is likely the same as from address
export SCRAWL_EMAIL_USERNAME=YOUR_USERNAME
export SCRAWL_EMAIL_PASSWORD=YOUR_PASSWORD
export SCRAWL_EMAIL_SERVER=smtp.gmail.com
export SCRAWL_EMAIL_PORT=465
# Optional port and SSL. Default SSL is false
export SCRAWL_EMAIL_SSL=true
export SCRAWL_EMAIL_TLS=false

export SCRAWL_TWITTER_CONSUMER_KEY=
export SCRAWL_TWITTER_SECRET=
export SCRAWL_TWITTER_TOKEN_KEY=
export SCRAWL_TWITTER_TOKEN_SECRET=
export SCRAWL_LINKEDIN_CLIENT_ID=
export SCRAWL_LINKEDIN_CLIENT_SECRET=