#!/bin/sh
#
# Example file for configuration options for publishing minutes

export EDITOR="/usr/bin/gedit"
export WAV_EDITOR="/usr/bin/audacity"
export NODE_COMMAND="nodejs"

export SCRAWL_EMAIL_USERNAME=
export SCRAWL_EMAIL_PASSWORD=
export SCRAWL_EMAIL_SERVER=
# Optional port and SSL. Default SSL is false
# export SCRAWL_EMAIL_PORT=
# export SCRAWL_EMAIL_SSL=
export SCRAWL_TWITTER_CONSUMER_KEY=
export SCRAWL_TWITTER_SECRET=
export SCRAWL_TWITTER_TOKEN_KEY=
export SCRAWL_TWITTER_TOKEN_SECRET=
export SCRAWL_LINKEDIN_CLIENT_ID=
export SCRAWL_LINKEDIN_CLIENT_SECRET=