#!/bin/sh
#
# Example file for configuration options for publishing minutes

EDITOR="/usr/bin/gedit"
WAV_EDITOR="/usr/bin/audacity"

SCRAWL_EMAIL_USERNAME=
SCRAWL_EMAIL_PASSWORD=
SCRAWL_EMAIL_SERVER=
SCRAWL_TWITTER_CONSUMER_KEY=
SCRAWL_TWITTER_SECRET=
SCRAWL_TWITTER_TOKEN_KEY=
SCRAWL_TWITTER_TOKEN_SECRET=
SCRAWL_LINKEDIN_CLIENT_ID=
SCRAWL_LINKEDIN_CLIENT_SECRET=

