body {
   margin: 0px;
}

label {
   float: left;
   text-align: right;
   margin-right: 15px;
   width: 100px;
}

h1 {
   margin-top: 24px;
   margin-bottom: 14px;
}

.header {
   margin-top: 0px;
   margin-bottom: 14px;
}

ol {
   margin-bottom: 0em;
}

li {
   margin-left: 1.5em;
   margin-bottom: 0em;
}

#content, .content {
   margin-left: 20%;
   margin-right: 20%;
}

.summary {
   margin-left: 10%
   margin-right: 10%
}

.name {
   font-weight: bold;
}

.information {
   font-style: italic;
}

.comment {
   padding-left: 1.5em;
   text-indent: -1.5em;
}

.comment-continuation {
   margin-left: 2em;
}

dt {
   font-style: oblique;
}

dd {
   margin-left: 20px;
}

#toolbar {
   background: #ddd;
   border-top: solid 1px #666;
   bottom: 0;
   position: fixed;
   width: 100%;
   z-index: 1000;
}

.left-column {
   width: 80%;
   float: left;
}

.right-column {
   float: right;
}

.button {
   background: #beb;
   border: 0.2em solid #c4c8cc;
   margin: 0.2em;
   border-radius: 1em 1em 1em 1em;
   padding: 0.2em;
}

.toolbar-padding {
   padding: 10px;
}

.toolbar-height {
   width:95%;
   height:200px !important;
   min-height:200px !important;
}

.error {
   border: thin solid #f00;
   padding: 0.5em;
}
