name: Generate minutes

on:
  repository_dispatch:
    types: generate_minutes
jobs:
  download-minutes:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup custom environment variables
      run: git config --global push.default simple && git config --global user.email "w3c.ccg@gmail.com" && git config --global user.name "W3C CCG"
    - name: Pull raw meeting log file
      id: pull_raw_file
      env:
        DATE: ${{ github.event.client_payload.date }}
        GROUP: ${{ github.event.client_payload.groupName }}
        GROUP_ALIAS: ${{ github.event.client_payload.groupAlias }}
      run: |
        export DIR=${DATE}
        if [ ! -z "$GROUP_ALIAS" ];then
          export DIR=${DIR}-${GROUP_ALIAS}
        fi
        bash ./download-minutes.sh
        cp ${DIR}/irc-raw.log ${DIR}/irc.log
        echo "##[set-output name=date;]${DATE}"
        echo "##[set-output name=group;]${GROUP}"
        echo "##[set-output name=dir;]${DIR}"
      shell: bash
    - name: Generate html minutes
      id: generate_html_minutes
      run: |
        npm install
        bash ./generate-html.sh
      env:
        CI: true
        DATE: ${{ steps.pull_raw_file.outputs.date }}
        DIR: ${{ steps.pull_raw_file.outputs.dir}}
        GROUP: ${{ steps.pull_raw_file.outputs.group }}
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Add minutes for telecon [ci skip]
        branch: main
